<%- include('layouts/header.html') %>
<div class="container-fluid h-100">
  <div class="row h-100">
    <aside class="col-12 col-md-2 p-0 bg-dark">
      <nav
        class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start py-2"
      >
        <div class="collapse navbar-collapse">
          <ul
            class="flex-md-column flex-row navbar-nav w-100 justify-content-between"
          >
            <li class="nav-item">
              <a class="nav-link pl-0 text-nowrap" href="/"
                ><i class="fas fa-home"></i>
                <span class="font-weight-bold">Horror Classics Blog</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link pl-0" href="/dashboard"
                ><i class="fa fa-book fa-fw"></i>
                <span class="d-none d-md-inline">My Posts</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link pl-0" href="/create"
                ><i class="fas fa-pencil-alt fa-fw"></i>
                <span class="d-none d-md-inline">New Post</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link pl-0" href="/user/logout"
                ><i class="fas fa-sign-out-alt" fa-fw></i>
                <span class="d-none d-md-inline">Logout</span></a
              >
            </li>
          </ul>
        </div>
      </nav>
    </aside>
    <main class="col bg-faded py-2">
      <div class="container">
        <h1><%= post.title %></h1>
        <div class="post-box" style="padding-bottom: 5%"><%= post.post %></div>
        <a href="/edit/<%= post.post_id %>"
          ><button type="submit" class="btn btn-custom mb-2">
            <i class="far fa-edit" style="font-size: 25px"></i> Edit
          </button></a
        >
        <a href="/delete/<%= post.post_id %>"
          ><button type="submit" class="btn btn-custom mb-2">
            <i class="far fa-trash-alt" style="font-size: 25px"></i> Delete
          </button></a
        >
      </div>
    </main>
  </div>
</div>
<%- include('layouts/footer.html') %>
